@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Montserrat:wght@500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}
:root {
    --bgSite: #d7d4ff;
    --buttonColor: #6c63ff;

    --white: #ffffff;
    --white300: #f9f9f9;

    --title: #2b2b2b;
    --text: #c4a0a0;
}
html {
    font-size: 62.5%;
}
body {
    width: 100vw;
    font-size: 1.6rem;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
.container-header {
    background-color: var(--bgSite);
    width: 100vw;
    height: 69vh;
}
.container-cabeçalho {
    font-size: 1.3em;
    width: 90vw;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-img img {
   height: 300px; 
}
.container-text h1 {
    margin-bottom: 5%;
    width: 45%;
}
.container-text p {
    margin-bottom: 5%;
    text-align: left;
    line-height: 2.5rem;
    width: 45%;
    word-spacing: 0.5rem;
    line-height: 1.5em;
}
.container-text button {
    border-radius: 5px;
    background-color: var(--buttonColor);
    border: none;
    width: 140px;
    height: 40px;
    color: white;
}
body {
    background-color: rgba(128, 128, 128, 0.158);
}
.container-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 3%;
    margin-top: 10%;
}
.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    width: 350px;
    height: 400px;
    margin: 2% auto;
    background-color: white;
    border-radius: 5px;
}
.text {
    text-align: justify;
    width: 80%;
    height: 40%;
}
.text h2 {
    margin-bottom: 5%;
}
.fundo {
    width: 100%;
    height: 50%;
}
.cor1 {
    background-color: salmon;
}
.cor2 {
    background-color: skyblue;
}
.cor3 {
    background-color: violet;
}
.cor4 {
    background-color: rgb(56, 201, 56);
}
.cor5 {
    background-color: rgb(216, 216, 83);
}
.cor6 {
    background-color: var(--buttonColor);
}
aside {
    text-align: center;
    background-color: var(--bgSite);
}